# Groq API Key for the LLM
GROQ_API_KEY=your_groq_api_key_here

# HuggingFace Token for Embeddings
HUGGINGFACEHUB_API_TOKEN=your_huggingface_token_here

# Neon PostgreSQL Connection String
DATABASE_URL=postgresql+psycopg://user:password@hostname/dbname


FRONTEND_URL=http://localhost:3000